#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Education;Languages;Qt;
Comment=Japanese Learning Application
Exec='/opt/japanese-learning/japanese-alphabet-quiz'
Icon=/opt/japanese-learning/appicon.png
Name=Japanese Learning
NoDisplay=false
Path=/opt/japanese-learning/
StartupNotify=true
StartupWMClass=japanese-alphabet-quiz
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
